#chart {
  background-color: white;
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

}

#form {
  margin: 20px;
}


body {
  color: red;
  font-family: Arial;
  text-align: center;
  background-color:blue;
}
